.hero-buttons{

display:flex;

gap:20px;

}

.btn-primary,
.btn-secondary{

padding:15px 28px;

border-radius:10px;

text-decoration:none;

font-weight:600;

transition:.3s;

}

.btn-primary{

background:#2563EB;

color:white;

}

.btn-primary:hover{

transform:translateY(-3px);

}

.btn-secondary{

border:2px solid #2563EB;

color:#2563EB;

}

.btn-secondary:hover{

background:#2563EB;

color:white;

}
