/* ========================================
   NAVBAR
======================================== */

.header{
    position:sticky;
    top:0;
    width:100%;
    background:#ffffff;
    border-bottom:1px solid #e2e8f0;
    z-index:1000;
}

.navbar{

    max-width:1200px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 30px;

}

.logo{

    font-size:1.4rem;
    font-weight:700;

    color:var(--primary);

}

.nav-links{

    display:flex;

    gap:35px;

    list-style:none;

}

.nav-links a{

    text-decoration:none;

    color:var(--text);

    font-weight:500;

    transition:.3s;

}

.nav-links a:hover{

    color:var(--primary);

}
